---
credentials:
  github:
    user: 'acidprime'
    token: '1234512345123451234512345'
  learndot:
    production:
      token: '678910116789101167891011'
    staging:
      token: '121314151617181920'
# This is used to download the full (non-shallow) copy of the repo
# the branch key here is depricated as we match the sha of the shallow repo.
repos:
  courseware-lms-content:
    url: 'https://github.com/puppetlabs/courseware-lms-content.git'
    branch: 'master'
