/* Get all of the LDE divs out of the way */
#banner.content_component.consumption {
  height: 0;
  visibility: hidden;
}

#consumption-content {
  margin: 0;
}

#user-content > .content.container {
  /* Viewable hight minus header and footer */
  height: calc(100vh - 171px);
  padding: 0 10px;
  margin: 0px;
  width: 100%;
}

#content,
.content.container, 
.content.container > .row, 
.content.container > .row > .col-xs-12, 
#consumption-content, 
#consumption-content > .row, 
.main-content,
.main-content > .row,
.content.section, 
.section-container,
#video,
#terminal,
#instructions {
  height:100%;
}


.course-pathway-consumption #course-pathway-progress .progress .bar,
.course-pathway-consumption #course-pathway-progress .progress {
  height: 0;
  visibility: hidden;
}


/* Begin Actual Syling */

iframe {
  height: inherit;
  border: 0px;
}

/* Amber section headers for instructions */
.instruction-header {
  font-size: 16px;
  background: #ffd86e;
  min-height: 40px;
  padding: 10px;
}

/* Add some margin around the icons */
.instruction-header .fa {
  margin: 2px 8px 0px 8px;
}

.instruction-content {
  margin: 20px 20px;
  overflow-wrap: break-word;
}

.content.section, #lesson {
  display: flex;
  flex: 1 1 auto;
  height: inherit;
}

#terminal iframe {
  background-image: url("/static/selfpaced/Puppet-Logo-Amber-sm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222222;
  flex: 1 1 auto
}

#instructions, #terminal, #video {
  margin: 0px;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
}

#instructions {
  overflow-y: scroll;
  background-color: #f7f7f7;
}

@media (max-width: 970px) {
  /* clear flexbox for smaller screens */
  .content.section, 
  #lesson, 
  #terminal, 
  #instructions {
    display: block;
    overflow-y: visible;
  }

  #content,
  #user-content > .content.container,
  .content.container, 
  .content.container > .row, 
  .content.container > .row > .col-xs-12, 
  #consumption-content, 
  #consumption-content > .row, 
  .main-content,
  .main-content > .row,
  .content.section, 
  .section-container,
  #video,
  #terminal,
  #instructions {
    height:100%;
    position: static;
  }

  .row-offcanvas-right {
    right: 0;
    height: inherit;
  }
  iframe {
    height: 480px;
    width: 100%;
    display: block;
  }
}
